---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main class="px-4">
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 
			class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hey, soy Pablo Hurtado 
			<a 
			href="https://www.linkedin.com/in/pablo-hurtado-gonzalo-9a5478237/"
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center"
			><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-white text-xl opacity-80 text-wrap"><span class="text-green-200/90">+3 meses de experiencia y 3 años de aprendizaje autodidacta.</span> 
			<span class="text-yellow-200/90">   
			Desarrollador Mobile y Web
			.</span> <span class="text-red-100/45"> De Madrid, España </span> </h2>
		
			<ul></ul>
		</section>
	</main>
</Layout>

